
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sait_minu_bar{
    width: 100%;
    height: 70px;  
    border: 1px solid whitesmoke;
    background: whitesmoke;
}
.sait_musicca{
    font-size: 30px;
    font-family: monospace;
    margin-left: 300px;
    margin-top: 10px;
}
.pianino{
    width: 90px;
    height: 25px;
    text-align: center;
    margin-left: 500px;
    margin-top: 22px;
    border-radius: 7px;
    background: green;
    position: absolute;
    border: 1px solid #000;
    text-decoration: none;
    color: blue;
}
.baraban{
    width: 90px;
    height: 25px;
    text-align: center;
    margin-left: 650px;
    margin-top: 22px;
    border-radius: 7px;
    background: green;
    position: absolute;
    border: 1px solid #000;
    text-decoration: none;
    color: blue;
}

.sait_pianino{
    width: 1000px;
    height: 220px;
    border: 5px solid #000;
    background-color: royalblue;
    margin: 50px auto;
}
.nota{
    width: max-content;
    height: 250px;
    margin-left: 150px;
    margin-top: -10px;
    z-index: -1;
}

.do{
    width: 35px;
    height: 200px;
    background-color: white;
    display: inline-block;
    margin-left:200.5px;
    vertical-align: top; 
}
.re{
    width: 35px;
    height: 200px;
    background-color: white;
    display: inline-block;
    margin-left:4.5px;
    vertical-align: top; 
}
.mi{
    width: 35px;
    height: 200px;
    background-color: white;
    display: inline-block;
    margin-left:4.5px;
    vertical-align: top; 
}
.fa{
    width: 35px;
    height: 200px;
    background-color: white;
    display: inline-block;
    margin-left:4.5px;
    vertical-align: top; 
}
.sol{
    width: 35px;
    height: 200px;
    background-color: white;
    display: inline-block;
    margin-left:4.5px;
    vertical-align: top; 
}
.liya{
    width: 35px;
    height: 200px;
    background-color: white;
    display: inline-block;
    margin-left:4.5px;
}
.si{
    width: 35px;
    height: 200px;
    background-color: white;
    display: inline-block;
    margin-left:4.5px;
    vertical-align: top; 
}

.do1{
    width: 35px;
    height: 200px;
    background-color: white;
    display: inline-block;
    margin-left:4.5px;
    vertical-align: top; 
}
.re1{
    width: 35px;
    height: 200px;
    background-color: white;
    display: inline-block;
    margin-left:4.5px;
    vertical-align: top; 
}
.mi1{
    width: 35px;
    height: 200px;
    background-color: white;
    display: inline-block;
    margin-left:4.5px;
    vertical-align: top; 
}
.fa1{
    width: 35px;
    height: 200px;
    background-color: white;
    display: inline-block;
    margin-left:4.5px;
    vertical-align: top; 
}
.sol1{
    width: 35px;
    height: 200px;
    background-color: white;
    display: inline-block;
    margin-left:4.5px;
    vertical-align: top; 
}
.liya1{
    width: 35px;
    height: 200px;
    background-color: white;
    display: inline-block;
    margin-left:4.5px;
    vertical-align: top; 
}
.si1{
    width: 35px;
    height: 200px;
    background-color: white;
    display: inline-block;
    margin-left:4.5px;
    vertical-align: top;    
}

.do2{
    width: 30px;
    height: 150px;
    background-color: black;
    position: absolute;
    display: inline-block;
    margin-left:-580px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.re2{
    width: 30px;
    height: 150px;
    background-color: black;
    position: absolute;
    display: inline-block;
    margin-left:-536px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.mi2{
    width: 30px;
    height: 150px;
    background-color: black;
    position: absolute;
    display: inline-block;
    margin-left:-492px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

} 

.fa2{
    width: 30px;
    height: 150px;
    background-color: black;
    position: absolute;
    display: inline-block;
    margin-left:-448px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.sol2{
    width: 30px;
    height: 150px;
    background-color: black;
    position: absolute;
    display: inline-block;
    margin-left:-404px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.liya2{
    width: 30px;
    height: 150px;
    background-color: black;
    position: absolute;
    display: inline-block;
    margin-left:-360px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.si2{
    width: 30px;
    height: 150px;
    background-color: black;
    position: absolute;
    display: inline-block;
    margin-left:-316px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.do3{
    width: 30px;
    height: 150px;
    background-color: black;
    position: absolute;
    display: inline-block;
    margin-left:-272px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.re3{
    width: 30px;
    height: 150px;
    background-color: black;
    position: absolute;
    display: inline-block;
    margin-left:-229px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.mi3{
    width: 30px;
    height: 150px;
    background-color: black;
    position: absolute;
    display: inline-block;
    margin-left:-185px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

} 

.fa3{
    width: 30px;
    height: 150px;
    background-color: black;
    position: absolute;
    display: inline-block;
    margin-left:-140px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.sol3{
    width: 30px;
    height: 150px;
    background-color: black;
    position: absolute;
    display: inline-block;
    margin-left:-95px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.liya3{
    width: 30px;
    height: 150px;
    background-color: black;
    position: absolute;
    display: inline-block;
    margin-left:-50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

p{
    margin-top: 175px;
    font-size: 10px;
    text-align: center;
    color: grey;
}
.p{
    text-align: center;
    margin-top: 130px;
    color: aliceblue;
}
.malumot{
    fond-size:50px;
